<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- 어노테이션:내가 bean을 만들 대상들을 찾아감 -->
    <!-- 	bean을 쓸 수 있는 이유는 <beans xmlns="http://www.springframework.org/schema/beans" 때문 -->
    <!-- : 이 name space를 추가할 때마다 쓸 수 있는 bean이 늘어남 -->
    <!-- 	xmlns:context="http://www.springframework.org/schema/context" 추가됨 -->
    <context:component-scan base-package="kh.spring"></context:component-scan>
    <!-- 점검해야 할 패키지를 제한시킴 / 검사를 하면서 component 어노테이션이 있는 클래스만 가져옴-->
    <!-- <bean class="kh.spring.impl.SamsungTv"></bean> 이 코드가 만들어진 거나 마찬가지 -->

</beans>
